
<% unless @actor.download_recovery_key_activities.blank? %>
    <div class="alert alert-danger text-center" role="alert">
      <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
      If you forget your &mu;PM password, you will need to provide a
      <%= link_to 'Recovery Key', '#recovery-key', {class: 'alert-link'} %> in order to reset your password!<br/>
      See below for details.
    </div>
<% end %>


<div class="panel panel-default" style="margin: 15px">
  <div class="panel-heading">
    <ol class="panel-title breadcrumb">
      <li class="active">Passwords</li>
    </ol>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
      <tr><th style="width:50%">For</th><th>Created</th></tr>
      </thead>
      <tbody>
      <% @passwords.each do |p| %>
          <tr><td><%= link_to p.subject, p %></td><td><%= p.created_at %></td></tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <div class="panel-footer">
    <%= link_to 'Create a new password', new_password_path, {class: "btn btn-default btn-lg btn-block text-center", role: "button"} %>
  </div>
</div>

<div class="panel panel-default" style="margin: 15px">
  <div class="panel-heading">
    <ol class="panel-title breadcrumb">
      <li class="active">Manage Your Account</li>
    </ol>
  </div>
  <div class="panel-body">

    <h3>Active sessions</h3>
    <table class="table table-striped">
      <thead>
      <tr><th style="width:20%">Email</th><th style="width:10%">From</th><th style="width:30%">Since</th><th style="width:30%">Last Access</th><th style="width:10%"></th></tr>
      </thead>
      <% @actor.sessions.each do |session| %>
          <% is_current_session = DoorMat::Session.current_session.hashed_token == session.hashed_token %>

          <tr><td colspan="5">
            <table class="table borderless" style="background-color: transparent">
              <tr>
                <td style="width:20%">
                  <% if is_current_session %>
                      *
                  <% end %>

                  <%= session.email.address %>
                </td>
                <td style="width:10%">
                  <%= session.ip %>
                </td>
                <td style="width:30%">
                  <%= session.created_at %>
                </td>
                <td style="width:30%">
                  <%= session.updated_at %>
                </td>
                <td style="width:10%">
                  <% if is_current_session %>
                      <%= button_to "Terminate", '/', {method: :post, class: "btn btn-default btn-sm text-center", disabled: "disabled", role: "button", data: { confirm: "Are you sure you want to terminate this session?" } } %>
                  <% else %>
                      <%= button_to "Terminate", door_mat.terminate_session_path(session.hashed_token), {method: :post, class: "btn btn-default btn-sm text-center", role: "button", data: { confirm: "Are you sure you want to terminate this session?" } } %>
                  <% end %>
                </td>
              </tr>
              <tr>
                <td colspan="5">
                  <strong><%= session_type(session) %> session</strong> - <%= session.agent %>
                </td>
              </tr>
            </table>
          </td></tr>
      <% end %>
    </table>
    * indicates the current session.


    <h3>Change password</h3>
    <%= link_to 'Change Password', door_mat.change_password_path, {class: "btn btn-default btn-sm text-center", role: "button"} %>


    <h3>Registered Email Address</h3>
    <table class="table table-striped borderless">
      <% @actor.emails.each do |email| %>
          <tr>
            <td>
              <%= email.address %>
            </td>
            <td>
              <% if email.confirmed? || email.primary? %>
                  Confirmed
              <% else %>
                  <%= form_tag(door_mat.resend_email_confirmation_path) do %>
                      <%= hidden_field_tag( 'email', email.to_urlsafe_encoded) %>
                      <%= submit_tag("Resend confirmation email", {class: "btn btn-default btn-sm text-center", role: "button"}) %>
                  <% end %>
              <% end %>
            </td>

            <% if email.primary? %>
                <td>
                  Primary
                </td>
                <td>
                  Can't delete primary
                </td>
            <% else %>
                <td>
                  <%= form_tag(door_mat.set_primary_email_path) do %>
                      <%= hidden_field_tag( 'email', email.to_urlsafe_encoded) %>
                      <%= submit_tag("Make primary", {class: "btn btn-default btn-sm text-center", role: "button"}) %>
                  <% end %>
                </td>
                <% if email.address == DoorMat::Session.current_session.email.address %>
                    <td>
                      Can't delete current
                    </td>
                <% else %>
                    <td>
                      <%= form_tag(door_mat.delete_email_path) do %>
                          <%= hidden_field_tag( 'email', email.to_urlsafe_encoded) %>
                          <%= submit_tag("Delete", {class: "btn btn-default btn-sm text-center", role: "button", data: { confirm: "Are you sure you want to delete this email address?" }}) %>
                      <% end %>
                    </td>
                <% end %>
            <% end %>
          </tr>
      <% end %>
    </table>

    <%= link_to 'Add new email', door_mat.add_email_path, {class: "btn btn-default btn-sm text-center", role: "button"} %>

    <h3 id="recovery-key">Recovery Key</h3>
    <% download_recovery_key_activities = @actor.download_recovery_key_activities %>
    <% if download_recovery_key_activities.blank? %>
        <p>You have already downloaded your recovery key; change your password to create a new one.</p>
    <% else %>
        <% if DoorMat::Session.current_session.private_computer? || DoorMat::Session.current_session.remember_me? %>
            <table>
              <% @actor.download_recovery_key_activities.each do |key| %>
                  <tr>
                    <td>
                      Click below to download your recovery key.

                      <%= form_tag(door_mat.download_recovery_key_path, id: 'download-recovery-key') do %>
                          <%= hidden_field_tag( 'token', key.get_new_token) %>
                          <%= hidden_field_tag( 'disposition', 'attachment') %>
                          <%= submit_tag("Download", {class: "btn btn-default btn-sm text-center", role: "button"}) %>
                      <% end %>

                    </td>
                  </tr>
              <% end %>
            </table>
            <script>
              $('#download-recovery-key').one('submit', function() {
                $(this).find('input[type="submit"]').attr('disabled','disabled');
              });
            </script>
        <% else %>
            <p>Please sign in from a private computer in order to safely download your recovery key.</p>
        <% end %>
    <% end %>
  </div>
</div>
